body {
  padding-top: 3 * $space;
}

.main-header {
  height: 3 * $space;
  padding: 0 $space;
  background: $wh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include shadow(2);
  display: flex;
  justify-content: center;
  z-index: 10;
  &__container {
    flex-basis: $space * 40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $space/2;
  }
  &__logo {
    max-height: $space;
    img {
      max-height: $space;
      max-width: 100%;
    }
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &-item {
      & + & {
        margin-#{$left}: $space;
      }
    }
  }
}
