//-
  #Config object
  {
    img          : data.content[i].img,
    caption      : data.content[i].title,
    date         : true,
    abstract     : data.content[i].abstract,
    video        : false,
    over         : fale,
    card         : false,
    cardBounded  : true,
    horizontal   : true,
    horizontalSm : true,
  }

section.section
  .container
    h2.section__mainTitle Prosthetic & Orthotic Services
    .sub-section-title
      h4.sub-section-title__title #{data.sections.titels[2]}
      .sub-section-title__list
        -for(i =0; i <= 2; i++)
          -if(i==0){activeClass="sub-section-title__listItem--active"}else{activeClass=""}
          a.sub-section-title__listItem(class=activeClass, href=data.sections.sub[i].link) #{data.sections.sub[i].name}
    .row  
      -var iconType = ["sound","image","play"]
      -for(i =0; i <= 2; i++)
        -
          var post = {
            img:data.content[i].img,
            caption:data.content[i].title,
            abstract:data.content[i].abstract,
            icon:{
              state:true,
              name:iconType[i]
            },
            card:true,
            cardBounded:true,
            horizontal:false,
            over:false,
            date:false,
            padge:true
          }
        .col-ls-6.col-md-4
          include ../components/_basic-post-view.pug
      .clearfix
