//-
  #Config object
  {
    img          : data.content[i].img,
    caption      : data.content[i].title,
    date         : true,
    abstract     : data.content[i].abstract,
    video        : false,
    over         : fale,
    card         : false,
    cardBounded  : true,
    horizontal   : true,
    horizontalSm : true,
  }

.container.container--main

  .row  
    .col-xs-4
      .placeholder.placeholder--title.col-xs-12
      .placeholder.placeholder--title.col-xs-12
      .placeholder.placeholder--title.col-xs-12
      .placeholder.placeholder--title.col-xs-12
      .placeholder.placeholder--title.col-xs-12
    .col-xs-8

      -for(i =0; i <= data.content.length-1; i++)
        -
          var hotel= data.content[i]
        include ../components/_hotel-list-item.pug
      .clearfix
